---
import { type CollectionEntry } from "astro:content";

type Props = { post: CollectionEntry<"blog"> };

const { post } = Astro.props;
---

<div class="inline-grid w-full py-3">
    <div
        class="rounded-xl hover:bg-pureWhite-lightSmoke hover:shadow-pureWhite-smoke hover:shadow-md card-blog transition-colors duration-150">
        <a href={`/blog/${post.slug}/`}>
            <div class="my-2 p-4">
                <h4 class="text-lg lg:text-xl my-2">{post.data.title}</h4>
                <p class="text-sm mb-2 text-pureGray-dark line-clamp-2">{post.data.description}</p>
                {
                    post.data.heroImage ? (
                        <div class="overflow-hidden aspect-video rounded-lg">
                            <img alt={post.id} src={post.data.heroImage} />
                        </div>
                    ) : (
                        ""
                    )
                }
            </div>
        </a>
    </div>
</div>
